---
import BlogLayout from "../layouts/Layout.astro";
import LadyImg from "../assets/acerca.png";


import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const buttonText = "Reserva tu Clase de Prueba Gratis";
const path = '/contact';

import ActionButton from "../components/ActionButton.astro";

import '../styles/about.css';

import * as aboutp0 from './../content/about.md';
import * as aboutp1 from './../content/about-p1.md';
import * as aboutp2 from './../content/about-p2.md';
import * as aboutp3 from './../content/about-p3.md';
import * as aboutp4 from './../content/about-p4.md';

const { frontmatter } = aboutp0;
---
<BlogLayout title={frontmatter.title}>
        <Header />
        <div class="container-custom">
                <img src={LadyImg.src} alt="Logo" class="img-about rounded-e-sm " />
        </div>
        <section id="about" class="section max-w-7xl justify-center mx-auto">

                <div class="container-custom mx-auto">                        
                        <div class="mx-auto p-20 rounded-lg shadow-lg bg-white dark:bg-gray-800">
                                <h1 class="text-3xl font-bold text-center py-10">{aboutp1.frontmatter.title}</h1>
                                <aboutp1.Content  />
                        </div>
                </div>
                
                <div class="container-custom mx-auto">
                        <div class="card p-20 my-10 rounded-lg shadow-lg bg-blue-100 dark:bg-gray-800">
                                <h2 class="text-3xl font-bold text-center py-10">{aboutp2.frontmatter.title}</h1>
                                        <aboutp2.Content  />
                                </div>                       
                        <ActionButton text={buttonText} url={path} />                       
                </div>

                <div class="container-custom mx-auto">                        
                        <div class="card mx-auto my-10 px-20 py-10 rounded-lg shadow-lg bg-white dark:bg-gray-800">
                                <h1 class="text-3xl font-bold text-center py-10">{aboutp3.frontmatter.title}</h1>
                                <aboutp3.Content  />
                        </div>                       
                </div>

                <div class="container-custom mx-auto">                        
                        <div class="card  mx-auto p-20 rounded-lg shadow-lg bg-blue-100 dark:bg-gray-800">
                                <h1 class="text-3xl font-bold text-center py-10">{aboutp4.frontmatter.title}</h1>
                                <aboutp4.Content  />
                        </div>                       
                        <ActionButton text={buttonText} url={path} />
                </div>

        </section>
        
        <Footer />
</BlogLayout>
