---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import HeroSection from '../components/HeroSection.astro';
import Reservations from '../components/ReservationComponent.astro';

import {geti18n} from "../i18n/utils"; // Import the i18n function to 
const {currentLocale = 'es'} = Astro;
const translations = geti18n({currentLocale}); 
---

<Layout title="Reservation">
  <Header />
  <main>
      <HeroSection 
      title={translations.contact.title} 
      highlightText={translations.contact.highlightText} 
      description={translations.contact.description} 
      />
      <Reservations />
  </main>
  <Footer />
</Layout> 
