---
const {text, url} = Astro.props;

const actionButton = {
    title: "¿Estás listo para hablar español con confianza?",
    subtitulo: "Puedes hacer una clase de prueba conmigo de 30 minutos sin compromiso",
    description: "Únete a muchos estudiantes satisfechos que han alcanzados sus objetivos con mis clases de español",
}

---
<!-- <div class="text-center mt-20">    
    <a href={url} class="btn-secondary">
        {text}
      </a>
</div> -->

<div class="container-custom">
    <div class="mt-16 bg-gradient-to-r from-primary-500 to-secondary-500 rounded-2xl p-5 md:p-12 relative overflow-hidden">
        <div class="absolute inset-0 bg-gradient-to-r from-primary-600/30 to-secondary-600/30 backdrop-blur-sm"></div>
        <div class="relative z-10 text-center md:text-left md:flex items-center justify-between">
            <div class="md:mb-0 md:mr-8">
            <h3 class="text-2xl md:text-3xl font-bold text-white mb-4">{actionButton.title}</h3>
            <p class="font-bold text-white max-w-2xl">{actionButton.subtitulo}</p>
            <p class="text-white/80 max-w-2xl">{actionButton.description}</p>
            </div>
            <a href={url} class="hover:scale-110 inline-flex items-center justify-center px-6 py-3 rounded-lg font-medium transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 bg-yellow-200 text-primary-600 hover:bg-gray-100 focus:ring-white">
                {text}
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
            </a>
        </div>
    </div>
</div>