---
import ladyLogo from "../assets/logoLady.png";
import Navigation from "./Navigation.astro";
import NavigationMobile from "./NavigationMobile.astro";
import {useNavigationTranslations, getLangFromUrl, getLocalizedUrl} from "../i18n/utils";


import "../styles/header.css";

const title = "Español Con Lady";
import { defaultLang } from '../i18n/indexui';
const lang = getLangFromUrl(Astro.url) || defaultLang;
const prefix = lang === "es"  ? "/" : `/${lang}/`;

const translations = useNavigationTranslations(lang);
const headerPages = [
  { text: translations("nav.home"), url:  `${prefix}`},
  { text: translations("nav.reservation"), url: `${prefix}reservation`},
  { text: translations("nav.class"), url: `${prefix}pricing` },
  { text: translations("nav.about"), url: `${prefix}about` },
  { text: translations("nav.faq"), url: `${prefix}faq` } 
];

const headerPagesMobile = headerPages;
headerPagesMobile.push({
  text: translations("nav.contact"),
  url: `${prefix}contact`,
});

const contact = translations("nav.contact");

const languagesFlags = [
  { lang: "es", src: "https://flagcdn.com/es.svg" },
  { lang: "en", src: "https://flagcdn.com/gb.svg" },
  { lang: "fr", src: "https://flagcdn.com/fr.svg" },
];

const visibleLanguagesFlags = languagesFlags.filter(
  (flag) => flag.lang !== lang
);

---

<header
  class="sticky top-0 w-full bg-blue-50 dark:bg-secondary-950/90 backdrop-blur-sm z-50 py-4 transition-colors duration-300"
>
  <div
    class="container-custom flex items-center justify-between border-spacing-1.5 border-cyan-200"
  >
    <a href="/" class="flex items-center" aria-label="Go to homepage">
      <img class="h-10 w-auto min-w-10" src={ladyLogo.src} />
      <span
        class="ml-2 text-xl font-display font-semibold text-secondary-900 dark:text-white"
        >{title}</span
      >
    </a>

    <Navigation menuItems={headerPages} />

    <div class="flex items-center space-x-4 header">
      <button
        x-on:click="darkMode = !darkMode"
        class="p-2 rounded-full text-secondary-500 hover:text-secondary-700 dark:text-secondary-400 dark:hover:text-secondary-200 focus:outline-none focus:ring-2 focus:ring-primary-500"
        aria-label="Toggle dark mode"
      >
        <svg
          x-show="!darkMode"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
          ></path>
        </svg>
        <svg
          x-show="darkMode"
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
          ></path>
        </svg>
      </button>

      <div class="flex header space-x-6">
        {visibleLanguagesFlags.map((flag) => (
          <a
            href={getLocalizedUrl(Astro.url.pathname, flag.lang)}
            class="w-6 h-6 rounded-full overflow-hidden"
            aria-label={`Change language to ${flag.lang}`}
          >
            <img  class="w-full h-full" src={flag.src} alt={flag.lang} />
          </a>
        ))}
      </div>
      <a href=`${prefix}contact` class="hidden sm:inline-flex btn-primary min-w-44"
        >{contact}</a
      >

      <NavigationMobile menuItems={headerPagesMobile} />
    </div>
  </div>
</header>

