---
import {geti18n} from "../i18n/utils"; // Import the i18n function to 
const {currentLocale = 'es'} = Astro;
const translations = geti18n({currentLocale}); // Get the translations


const features = [
  {
    title: translations.Metodologia.features[0].Title,
    description: translations.Metodologia.features[0].text,
    icon: "M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2",
    color: "primary"
  },
  {
    title: translations.Metodologia.features[1].Title,
    description: translations.Metodologia.features[1].text,
    icon: "M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z",
    color: "accent"
  },
  {
    title: translations.Metodologia.features[2].Title,
    description: translations.Metodologia.features[2].text,
    icon: "M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z",
    color: "secondary"
  },

];

const metodologiaTitle = translations.Metodologia.title;
---
<section id="features" class="section bg-gray-50 dark:bg-gray-200/50 mt-0">
    <div class="container-custom ">
      <div class="text-center max-w-3xl mx-auto mb-16 ">
       <h2 class="mb-6 text-gray-900 dark:text-white">{metodologiaTitle}</h2>
      </div>
      
      <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
        {features.map((beneficios, index) => (
          <div 
            class="card p-6 border border-blue-200 dark:border-blue-700 slide-up" 
            style={`animation-delay: ${index * 100}ms`}
          >
            <div class={`w-12 h-12 rounded-lg bg-${beneficios.color}-100 dark:bg-${beneficios.color}-900/30 flex items-center justify-center mb-6`}>
              <svg 
                class={`w-6 h-6 text-${beneficios.color}-600 dark:text-${beneficios.color}-400`} 
                fill="none" 
                stroke="currentColor" 
                viewBox="0 0 24 24" 
                xmlns="http://www.w3.org/2000/svg"
              >
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d={beneficios.icon}></path>
              </svg>
            </div>
            <h3 class="text-xl font-semibold mb-3 text-gray-900 dark:text-white">{beneficios.title}</h3>
            <p class="text-gray-600 dark:text-gray-300">{beneficios.description}</p>
          </div>
        ))}
      </div>
    </div>
  </section>