---
import {geti18n} from "../i18n/utils"; // Import the i18n function to 
const {currentLocale = 'es'} = Astro;
const translations = geti18n({currentLocale}); 

const motivationTitle = translations.motivacion.Title;
const razones = translations.motivacion.features.map((element) => {
    return {
        text: element.Title,
        description: element.text
    };
}); 

const buttonText = translations.hero.cta;
const path = '/contact';

import ActionButton from "./ActionButton.astro";

---
<section class="section">
    <div class="container-custom">
        <div class="text-center max-w-2xl mx-auto mb-16 mt-0">
            <h2 class="mb-6 text-gray-900 dark:text-white">{motivationTitle}</h2>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">
            {razones.map(razon => (
                <div  class="card p-4 border border-primary-200 dark:border-primary-700 slide-up" >
                        <h3 class="font-semibold mb-4 text-gray-900 dark:text-white">{razon.text}</h3>
                        <p class="text-gray-600 dark:text-gray-300">{razon.description}</p>
                </div>
            ))}
        </div>
    </div>
    <ActionButton text={buttonText} url={path} />
</section>
